* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f6f6f7;
}
#divPanel1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  /* padding-top: 30px; */
  /* margin: 1px solid black; */
  background-color: #32aeb1;
  height: 80px;
  align-items: center;
  /* position: fixed; */
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
#divPanel1 > div {
  margin: 0 15px;
}
#panel1img1 > img {
  margin-top: 10px;
}
#searchbox {
  width: 52%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
#searchbar {
  padding-left: 15px;
  color: #85888c;
  margin-right: 10px;
}
#searchbar select {
  border: none;
  color: #4ebdc0;
}
#horizontalline {
  margin-right: 10px;
}
#searchInput {
  width: 70%;
}
#searchInput > input {
  width: 90%;
  border: none;
  font-size: 14px;
}
#loadpx,
#cartlogo,
#singuplogo {
  display: flex;
  border-radius: 80%;
  align-self: center;
  color: white;
}
#carttoal > p {
  color: white;
}
#loadpx > a,
#cartlogo > a {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
}
#carttoal {
  width: 20px;
  height: 20px;
  /* border: 1px solid white; */
  position: absolute;
  right: 20.92%;
  border-radius: 60%;
  background-color: #f01595;
  text-align: center;
  font-size: 15px;
  top: 30%;
}

#singuplogo > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  font-family: Lato;
}
#cartdiv {
  width: 70%;
  height: 700px;
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 100px;
}
#cartdiv h1 {
  font-family: LatoBold;
  font-size: 24px;
  color: #151b3965;
  font-weight: 600;
  margin-top: 10px;
  padding-left: 25px;
}
#ordercarddiv {
  display: flex;
  width: 98%;
  height: 600px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 20px;
}
#orderleftdiv {
  width: 65%;
  display: flex;
  /* height: 400px; */
  /* border: 1px solid black; */
  flex-direction: column;
}

#displayCartProduct {
  width: 100%;
  /* height: 600px; */
  /* border: 1px solid grey; */
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  /* margin-top: 20px; */
}

#addressdiv {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#addressdiv {
  text-decoration: none;
  color: #24aeb1;
  font-size: 17px;
  letter-spacing: 0.6px;
}

#displayCartProduct hr {
  width: 96%;
  margin: auto;
  color: rgba(0, 0, 0, 0.178);
}
#displayCartProduct > div {
  display: flex;
}
#displayCartProduct > div > div:nth-child(1) {
  width: 50px;
  /* height: 500px; */
}
#displayCartProduct > div > div:nth-child(1) img {
  width: 100%;
  height: 50px;
}
#displayCartProduct > div > div:nth-child(2) {
  margin-left: 20px;
  /* margin-top: 5px; */
}
#displayCartProduct > div > div:nth-child(2) h5 {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 5px;
}

#displayCartProduct > div > div:nth-child(2) p:nth-child(2) {
  font-family: Lato;
  font-size: 12px;
  /* color: rgba(21, 27, 57, 0.6); */
  font-style: italic;
  margin-bottom: 15px;
}

#displayCartProduct > div > div:nth-child(2) p:nth-child(3) {
  color: #f2679a;
  font-family: LatoBold;
  font-size: 20px;
  color: #ef4281;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 800;
  margin-bottom: 25px;
}

#displayCartProduct > div > div:nth-child(2) p:nth-child(4) {
  font-family: Lato;
  font-size: 15px;
  color: #151b39;
  margin-bottom: 20px;
}

#displayCartProduct h2 {
  font-family: LatoBold;
  font-size: 15px;
  color: rgba(21, 27, 57, 0.6);
  line-height: 16px;
  padding: 15px;
  margin-top: 0px;
}

#orderrightdiv {
  width: 35%;
  display: flex;
  height: 600px;
  /* border: 1px solid black; */
  margin-left: 15px;
  flex-direction: column;
}
#slideShow_auto1 {
  width: 100%;
  margin: auto;
  margin-top: 0px;
  /* border: 1px solid black; */
  position: relative;
  border-radius: 10px;
}

#slideShow_auto1 > img {
  width: 100%;
  border-radius: 5px;
}

.arrowslide1 {
  cursor: pointer;
  position: absolute;
  top: 25%;
  color: rgba(0, 0, 0, 0.678);
  font-size: 15px;
  font-weight: 50;
  height: 60px;
}

#next {
  right: 1%;
}

#prev {
  left: 1%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

#dotslide1 {
  position: absolute;
  top: 85%;
  left: 40%;
}

#cartpromo img {
  width: 100%;
  border: 5px;
}

#promo {
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 10px;
}
#promo h5 {
  font-family: LatoBold;
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  padding: 10px 0 20px 16px;
}

#promo span input {
  width: 60%;
  height: 30px;
  text-align: center;
  font-size: 15px;
}
#promo span {
  padding: 15px;
}
#promo span button {
  width: 20%;
  height: 32px;
  border: none;
  background-color: #32aeb1;
  color: white;
  text-align: center;
}
#promo p {
  display: block;
  font-family: Lato;
  font-size: 15px;
  color: rgba(21, 27, 57, 0.6);
  padding: 10px;
  padding-left: 25px;
}
#paymentDetails {
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 10px;
}
#paymentDetails h4 {
  font-family: LatoBold;
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  padding: 10px 0 20px 16px;
}
.calculation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -15px;
}
.calculation p {
  padding: 10px;
  font-family: Lato;
  font-size: 14px;
  color: #151b39;
  line-height: 24px;
}
.bold {
  font-family: LatoBold;
  font-size: 15px;
  color: #151b39;
  line-height: 24px;
  font-weight: 600;
}

#showbanner {
  width: 96%;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  background-color: #f3f8ec;
  margin-top: 10px;
}
#showbanner p {
  margin-top: 10px;
  font-family: LatoBold;
  font-size: 15px;
  color: #378f30;
  line-height: 16px;
  font-weight: 600;
}

#proceedtocheckout {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}
#proceedtocheckout p:nth-child(1) {
  margin-left: 50px;
  font-family: LatoBold;
  font-size: 10px;
  color: #151b39;
}

#proceedtocheckout p:nth-child(2) {
  margin-left: 50px;
}
#proceed {
  margin-left: 25px;
  width: 150px;
  height: 40px;
  background: #24aeb1;
  font-family: LatoBold;
  color: white;
  border-radius: 10px;
  border-radius: 10px;

  padding: 15px;
}

#disclaimer {
  margin-top: 20px;
}
#disclaimer p {
  font-family: Lato;
  font-size: 13px;
  color: rgba(21, 27, 57, 0.6);
  font-style: italic;
}

#disclaimer p span {
  color: blue;
}

#newaddress {
  width: 350px;
  height: 400px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 10;
  opacity: 0;
}
#newaddress h4 {
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #12142079;
  font-weight: 300;
}

#newaddress input {
  margin-bottom: 25px;
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  width: 90%;
  margin-left: 15px;
  font-size: 15px;
}
#newaddress input:nth-child(4),
#newaddress input:nth-child(5) {
  width: 120px;
}

#newaddress button {
  background: #24aeb1;
  width: 90%;
  height: 40px;
  margin-left: 15px;
  font-size: 14px;
  color: #fff;
}
.show {
  opacity: 1 !important;
  pointer-events: all;
}
