* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f7fb;
  font-family: "Lato", sans-serif;
}
#header {
  width: 100%;
  height: 150px;
  background-color: #32aeb1;
  /* position: fixed;
  z-index: 10; */
}

#divPanel1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  margin: 1px solid black;
}
#divPanel1 > div {
  margin: 0 15px;
}
#panel1img1 > img {
  margin-top: 10px;
}
#searchbox {
  width: 52%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
#searchbar {
  padding-left: 15px;
  color: #85888c;
  margin-right: 10px;
}
#searchbar select {
  border: none;
  color: #4ebdc0;
}
#horizontalline {
  margin-right: 10px;
}
#searchInput {
  width: 70%;
}
#searchInput > input {
  width: 90%;
  border: none;
  font-size: 14px;
}
#loadpx,
#cartlogo,
#singuplogo {
  display: flex;

  align-self: center;
  color: white;
}
#loadpx > a,
#cartlogo > a {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
}

#singuplogo > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  font-family: Lato;
}

#divpanel2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}

.navbar1,
.navbar2 {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.listmenu {
  margin-top: 10px;
  margin-left: 10px;
  /* width: 150px; */
}
.navbar1 a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

ul li ul li {
  line-height: 30px;
  display: none;
  padding: 5px;
}
ul li:hover ul li {
  display: block;

  background-color: whitesmoke;
}
ul li:hover ul li a {
  display: block;
  color: rgb(46, 43, 43) !important;
  margin-left: 10px;
}
ul li ul li:hover a {
  color: #32aeb1 !important;
  background-color: white !important;
}

#divpanel2 p {
  color: white;
  margin-top: 15px;
  font-size: 15px;
  margin-left: 10px;
}

#div1 {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: space-between;
}

#div1 a {
  text-decoration: none;
  color: #151b39;
  font-size: 15px;
  padding: 10px;
}

#productmaincontainer {
  width: 98%;
  height: 1400px;
  border: 1px solid blue;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

#product_left_container {
  width: 20%;
  height: 1200px;
  border: 1px solid black;
  /* display: flex; */
}

#product_right_container {
  width: 80%;
  height: 1200px;
  border: 1px solid black;
  margin-left: 20px;
  /* display: flex; */
}
#productcontainer_slide {
  width: 100%;
  height: 200px;
  margin: auto;
}
#productcontainer_slide img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}
#productfilterdiv {
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */
  margin-top: 50px;
  position: relative;
}
#sortdiv {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 45%;
}
#sortdiv h3 {
  font-family: Lato;
  color: #151b39;
  font-weight: 400;
}
#sortdiv button {
  cursor: pointer;
  line-height: normal;
  margin-left: 5px;
  background: #ffffff;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  box-shadow: none;
}
#sortdiv button:hover {
  color: #24aeb1;
  border: 1px solid #24aeb1;
}

#productdiv {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
}

#productdiv h2 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  color: rgba(21, 27, 57, 0.6);
  margin-left: 15px;
  margin-top: 20px;
}

#productcarddiv {
  width: 100%;
  height: 800px;
  border: 1px solid black;
  margin-top: 20px;
}
