* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f6f6f7;
}
#header {
  width: 100%;
  height: 100px;
  background-color: #32aeb1;
  position: sticky;
}

#divPanel1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  margin: 1px solid black;
}
#divPanel1 > div {
  margin: 0 15px;
}
#panel1img1 > img {
  margin-top: 10px;
}
#searchbox {
  width: 52%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
#searchbar {
  padding-left: 15px;
  color: #85888c;
  margin-right: 10px;
}
#searchbar select {
  border: none;
  color: #4ebdc0;
}
#horizontalline {
  margin-right: 10px;
}
#searchInput {
  width: 70%;
}
#searchInput > input {
  width: 90%;
  border: none;
  font-size: 14px;
}
#loadpx,
#cartlogo,
#singuplogo {
  display: flex;

  align-self: center;
  color: white;
}
#loadpx > a,
#cartlogo > a {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
}
#singuplogo {
  min-width: 150px;
}
#singuplogo > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  font-family: Lato;
}

#footer {
  width: 50%;
  margin: auto;
  color: #8c8e9d;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

#footer span {
  color: red;
}

#login_container {
  width: 70%;
  height: 500px;
  /* justify-content: space-evenly; */
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
}

#login_img_div > img {
  width: 100%;
  height: 500px;
}

#login_info_div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 50%;
  height: 500px;
  margin-left: 200px;
}

#formheading > h2 {
  margin-top: 25px;
  font-weight: 600px;
  font-size: 24px;
}

#login_p > p {
  margin-top: 20px;
  font-family: Lato;
  font-size: 14px;
  color: rgba(21, 27, 57, 0.6);
}
#form {
  margin-top: 30px;
}

#registrationform label {
  display: block;
  color: #32aeb1;
}

#registrationform input,
#loginform input {
  display: block;
  margin-bottom: 10px;
  width: 250px;
  height: 35px;
  color: #42424d;
}

#signupbutton {
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  background-color: #32aeb1;
  border-radius: 5px;
  border: none;
}

#alreadyAccount a {
  text-decoration: none;
  color: red;
}
