#containerDiv {
  width: 500px;
  height: 650px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body {
  background-color: #f6f6f7bd;
}
h1 {
  font-size: 25px;
  margin-top: 45px;
}
img {
  height: 450px;
}

button {
  background-image: linear-gradient(to bottom right, #89216b, #da4453);
  box-shadow: 0 28px 18px -23px #da4453;
  cursor: pointer;
  width: 50%;
  border-radius: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 0px;
  outline: none;
  padding: 13px 15px;
  margin: 0 25%;
}
